		.menuBottom{
			padding: 5px;
			position: fixed;
			bottom:0;
			left:0;
			z-index:1000;
			border: 1px solid;
			background-color: white;

		}
		
		#subjectFieldMobile{
			font-size:16px; 
			font-weight:bold; 
			height: 20px;
			-webkit-border-radius: 6 6 6 6;
		  	-moz-border-radius: 6 6 6 6;
		  	border-radius: 6px 6px 6px 6px;
		  	border: 0px;
		  	padding-left: 8px;
		}